// modal.scss
.overlay {
  &__base {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: transparent;
    opacity: 0;
    transition-property: background-color, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__after {
    background-color: rgba(81, 81, 81, 0.85);
    opacity: 1;
    z-index: 2;
  }

  &__before {
    background-color: transparent;
    opacity: 0;
  }
}

.content {
  &__base {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    padding: 2.5rem;
    transform: translate(-50%, -40%);

    background-color: transparent;
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: ease;

    overflow-y: scroll;

    @media screen and (max-width: 600px) {
      padding: 5%;
    }

    &__detail {
      &-info {
        font-family: auto;
        margin-bottom: 30px;

        h4 {
          position: relative;
          font-family: "Secular One", sans-serif;
          font-size: 30px;
          margin: 30px 0;
          padding-bottom: 25px;
          line-height: 1.5;

          @media screen and (max-width: 600px) {
            font-size: clamp(20px, 5.7vw, 30px);
            margin: 20px 0;
            padding-bottom: 15px;
          }

          &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50px;
            height: 3px;
            background: #000;
            content: "";

            @media screen and (max-width: 600px) {
              width: 10%;
            }
          }
        }

        p {
          margin-bottom: 10px;
          @media screen and (max-width: 600px) {
            font-size: clamp(12px, 3.7vw, 16px);
          }
        }

        a {
          color: #5992fe;
          text-decoration: #5992fe;
        }
      }

      &-lang {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30px;

        @media screen and (max-width: 600px) {
          gap: 15px;
        }

        img {
          width: 35px;
          transition: 0.5s;

          @media screen and (max-width: 600px) {
            width: 27px;
            transition: 0.5s;
          }

          &:first-child {
            margin: 0;
          }
        }

        // lang
        .sass{
          width: 50px;
          @media screen and (max-width: 600px) {
            width: 42px;
          }
        }
        .jquery {
          width: 100px;
          @media screen and (max-width: 600px) {
            width: 92px;
          }
        }
        .nodejs{
          width: 70px;
          @media screen and (max-width: 600px) {
            width: 62px;
          }
        }
        .express{
          width: 100px;
          @media screen and (max-width: 600px) {
            width: 92px;
          }
        }
        .react{
          width: 40px;
          @media screen and (max-width: 600px) {
            width: 32px;
          }
        }
        .gatsbycloud{
          width: 50px;
          @media screen and (max-width: 600px) {
            width: 42px;
          }
        }
        .mysql{
          width: 60px;
          @media screen and (max-width: 600px) {
            width: 52px;
          }
        }
        .gas{
          width: 50px;
          @media screen and (max-width: 600px) {
            width: 42px;
          }
        }
      }

      &-text {
        margin-bottom: 30px;
        p {
          line-height: 2;
        }
      }

      &-img {
        img {
          width: 100%;
        }
      }
    }
  }

  &__after {
    width: 70%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: 0.5s;

    @media screen and (max-width: 900px) {
      width: 90%;
      transition: 0.5s;
    }
  }

  &__before {
    transform: translate(-50%, -40%);
    background-color: transparent;
  }

  &__wrapper {
    position: relative;
    width: 70%;
    height: 100%;
    margin: auto;

    div {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      span {
        position: relative;
        &::before {
          position: absolute;
          width: 20px;
          height: 3px;
          background: #000;
          transform: rotate(-45deg);
          content: "";
        }

        &::after {
          position: absolute;
          width: 20px;
          height: 3px;
          background: #000;
          transform: rotate(45deg);
          content: "";
        }
      }
    }

    a {
      display: block;
      text-align: center;
      display: block;
      width: 65%;
      margin: auto;
      padding: 15px;
      border: solid 3px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__title {
    text-align: center;
    font-size: 30px;
  }

  &__price {
    width: 100%;
    margin: 10% 0 6% 0;

    thead {
      border-bottom: 2px solid #000;
    }

    th {
      width: 50%;
      font-size: 25px;
      padding-bottom: 20px;
    }

    td {
      padding: 3%;
      text-align: center;

      p {
        margin-top: 20px;
        font-size: 1.5rem;
      }
    }
  }
}
