.about {
  &__table {
    tbody {
      &:last-child tr {
        td:last-child {
          padding: 0 0 0 30px;
          font-weight: normal;
        }
      }
      tr {
        display: flex;
        align-items: center;
        @media screen and (max-width: 550px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      td {
        font-size: 20px;
        padding: 25px 50px 25px 0;

        &:first-child {
          width: 142px;
          text-decoration: underline;
        }
      }
    }
  }
}