.about {
  &__table {
    tbody {
      &:last-child tr {
        td:last-child {
          padding: 0 0 0 30px;
        }
      }
      tr {
        display: flex;
        align-items: center;
      }
      td {
        font-size: 20px;
        padding: 25px 50px 25px 0;

        &:first-child {
          width: 125px;
        }
      }
    }
  }
}