.contact {
  &__text {
    margin-bottom: 50px;
    margin-right: 15px;
  }

  &__wrapper {
    max-width: 100%;

    form{
        margin-right: 15px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    margin-right: 15px;
    text-align: center;
    a {
      display: block;
      width: fit-content;
      margin: 70px auto;
      padding: 10px 50px;
      color: #fff;
      background: #000;
      font-size: 15px;
      &:hover {
        background: #3a3a3a;
      }
    }
  }
}
