.works {
  &__list {
    margin-bottom: 50px;
  }

  &__item {
    padding-left: 2px;
    cursor: pointer;

    img {
      width: 100%;
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    }
  }

  &__desc {
    h4 {
      font-size: 18px;
      margin: 15px 0;
    }

    p {
      font-size: 15px;
    }

    span {
      font-size: 13px;
      display: block;
      margin: 15px 0;
    }
  }
}

.swiper{
  &__pagination{
    position: relative !important;
    top: 4px !important;
    left: 8px !important;
  }
}