p {
  line-height: 1.5;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}

.top {
  max-width: calc(95% - 250px);
  width: 100%;
  margin: 0 0 0 auto;

  section {
    margin-bottom: 50px;
  }
}

.main {
  margin-right: 15px;
}

.sidebar {
  position: fixed;
  top: 100px;
  max-width: 250px;
  margin-left: 15px;

  aside {
    > a {
      display: block;
      text-align: center;
    }
  }

  img {
    width: 80%;
    border-radius: 20%;
  }

  nav {
    padding: 15px;
    text-align: left;

    ol {
      counter-reset: count 0;
      padding: 50px 0 0 50px;

      li{
          font-size: 20px;
          width: fit-content;
          margin-bottom: 25px;
      }

      li:before {
        content: counter(count) ". ";
        counter-increment: count 1;
      }
    }
  }
}

.btn{
  a{
    display: block;
    width: fit-content;
    margin: 70px auto;
    padding: 10px 50px;
    color: #fff;
    background: #000;
    font-size: 15px;
    &:hover{
      background: #3a3a3a;
    }
  }
}