p{
    line-height: 1.5;
}

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}

.main {
  max-width: calc(95% - 250px);
  width: 100%;
  margin: 0 0 0 auto;

  section{
      margin-bottom: 50px;
  }
}

.sidebar {
  position: fixed;
  top: 100px;
  max-width: 250px;
  margin-left: 15px;

  aside {
    > a {
      display: block;
      text-align: center;
    }
  }

  img {
    width: 80%;
    border-radius: 50%;
  }

  nav {
    padding: 15px;
    text-align: left;
  }
}
